@model IEnumerable<DevMS.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>

@await Component.InvokeAsync("Summary")

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<partial name="_DetalhesProduto" />
